<?xml version="1.0"?>

<launch>

    <arg name="pcl_limit_filter_topic" default="mmWaveDataHdl/RScan"/>

    <include file="$(find nearness_estimation)/launch/radar_limit_filters.launch">
       <arg name="radar_pcl" value="$(arg pcl_limit_filter_topic)"/>
    </include>

<!--
    <node pkg="nodelet" type="nodelet" name="rzi_ROR_filt_mapping" args="standalone pcl/RadiusOutlierRemoval" output="screen">
      <remap from="~input" to="rzi_filt_out"/>
      <remap from="~output" to="rzi_ROR_filter_out"/>
      <param name="min_neighbors" value="4"/>
      <param name="radius_search" value="0.5"/>
    </node>
  -->

    <!-- transform pcl radar data into oflow frame -->
    <node name="transform_radar_frame" pkg="nearness_estimation" type="transform_radar_frame" output="screen"/>
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="rzi_filt_out/transformed"/><!--to="rzi_ROR_filter_out"/>-->
        <remap from="scan" to="radar_scan"/>
        <rosparam>
            target_frame: oflow_frame # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: 0
            max_height: 2.5

            angle_min: -1.570796 #-0.785398 # -M_PI/4
            angle_max: 1.570796 # 0.785398 # M_PI/4
            angle_increment: 0.0392699 # 2*M_PI/160.0
            scan_time: 0.1 # 1/10 f_radar = 10 hz
            range_min: 0.5
            range_max: 15.0
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>
